<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevOps Web</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background: #f9f9f9;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .box {
        background: #fff;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      h1 {
        color: #007acc;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h1>👋 Bienvenue, option DevOps !</h1>
      <p>Cette page est générée par Flask dans Docker.</p>
    </div>
  </body>
</html>
